<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title><strong>DATAGYM</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar showCancelButton="focus" placeholder="Search"></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>saiba dividir o seu treinamento</ion-card-subtitle>
      <ion-card-title><strong>Divisão de Treinos</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Para atingir o nível de condicionamento desejado, a divisão de treinos é
        um fator indispesável para todos os atletas desde iniciantes até
        profissionais.
      </p>
      <br />
      <p>As divisões de treino mais utilizadas e conhecidas são:</p>
      <ul>
        <li>ABCABC</li>
        <li>ABCDE</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> ABCABC </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
      <ul>
        <li>A: peito, tríceps e ombros</li>
        <li>B: costas e bíceps</li>
        <li>C: inferiores completo</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
