@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

ion-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 3rem;
}

.divisions {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

ion-card {
  margin-top: 10px;
  img {
    height: 100%;
  }
}

.ion-padding {
  background-color: rgb(80, 80, 80);
  p {
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
  }
}

ion-label {
  margin-left: 8px;
}

ion-badge {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 2px;
  font-size: 2rem;
}
