<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title><strong>BIODIET</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="preto">
  <ion-card color="dark">
    <img src="https://img.freepik.com/premium-photo/keto-ketogenic-diet-low-carb-healthy-food-black-stone-background-top-view-copy-space_187166-28161.jpg?w=2000" alt="">
    <ion-card-header>
      <ion-card-title class="ion-text-center">DIETA PARA SEU BIOTIPO</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      Dietas pensadas para melhor condicionamento físico e ganho de masssa
      muscular
    </ion-card-content>
  </ion-card>
  <ion-accordion-group>
    <ion-accordion color="dark" value="first">
      <ion-item slot="header" color="dark">
        <ion-label style="color: rgb(118, 120, 197);" class="ion-text-center"><strong>ECTOMORFO</strong></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title class="ion-text-center">CAFÉ DA MANHÃ</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <i>1 xícara de chá de café sem açúcar + 2 ovos mexidos + 1 pão francês integral + 1 pera média</i>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ion-padding" slot="content">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title class="ion-text-center">LANCHE DA MANHÃ</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            2 col sopa amendoim + 1 banana prata com 1 colher de sopa de
            aveia em flocos
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ion-padding" slot="content">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title class="ion-text-center">ALMOÇO</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <i>4 col de arroz integral + 1 concha pequena de feijão + 1 prato de
              sobremesa com brócolis cozido, 1 tomate picado e couve flor
              cozida, temperados com 1 col. sopa azeite + 1 posta de peixe
              assado + 10 uvas</i>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ion-padding" slot="content">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title class="ion-text-center">LANCHE DA TARDE</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <i>200 g de iogurte natural integral + 1 col sopa de semente de
              abóbora + 1 col sopa de mel</i>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ion-padding" slot="content">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title class="ion-text-center">JANTAR</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <i>Purê de batata com 2 batatas médias + 2 coxas de frango ensopadas
              com 3 col de sopa de quiabo + 1 pires de salada com alface, rúcula
              e espinafre, temperada com 1 col. sopa azeite</i>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ion-padding" slot="content">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title class="ion-text-center">CEIA</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <i>1 xícara de chá de camomila + 1 fatia média de melão</i>
          </ion-card-content>
        </ion-card>

      </div>
    </ion-accordion>
    <ion-accordion color="dark" value="second">
      <ion-item slot="header" color="dark">
        <ion-label style="color: rgba(74, 155, 114, 0.89);" class="ion-text-center"><strong>MESOMORFO</strong></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">CAFÉ DA MANHÃ</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>1 xícara de chá verde + 1 tapioca feita com 4 colheres de sopa
                de tapioca, 1 col sopa de semente de linhaça e 2 fatias médias
                de queijo tipo minas + 1 tangerina pequena</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">LANCHE DA MANHÃ</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>1 kiwi médio + 2 nozes</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">ALMOÇO</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>3 col sopa de batata doce cozida + 100 g de salmão grelhado + 2
                col. sopa abóbora cozida + 1 prato de sobremesa de salada de
                alface, tomate, folhas de coentro e rúcula temperada com 1 col
                sopa de azeite + 6 morangos</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">LANCHE DA TARDE</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>2 col sopa de abacate amassado e temperado com sal e pimenta +
                2 tortilhas de milho</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">JANTAR</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>3 col sopa de arroz integral + 120g bife bovino magro grelhado
                + 4 col sopa de berinjela cozida + 1 pires de salada de
                espinafre, alface e broto de feijão, temperada com 1 col sopa de
                azeite</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">CEIA</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>1 xícara de chá de camomila + 1 pera pequena</i>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="dark">
        <ion-label style="color: rgb(163, 71, 71);" class="ion-text-center"><strong>ENDOMORFO</strong></ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">CAFÉ DA MANHÃ</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>200 g de iogurte natural com 1 col de sopa de mel + 1 fatia de
                50g de pão integral com 1 fatia de queijo muçarela + 3 cols de
                sopa de abacate amassado</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">LANCHE DA MANHÃ</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>Café sem açúcar com 200 mL de leite semidesnatado + 10 amêndoas</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">ALMOÇO</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>200 g de macarrão de abobrinha com molho de 50 g tomate caseiro
                + 150 g de carne moída + salada com alface, 50 g de cenoura crua
                ralada, 20 g de cebola e 1 col de sobremesa de azeite + 1
                laranja pera média</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">LANCHE DA TARDE</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>1 porção de 30g de amendoim + 1 banana com ¼ de col café de
                canela em pó</i>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-padding" slot="content">
          <ion-card color="dark">
            <ion-card-header>
              <ion-card-title class="ion-text-center">JANTAR</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <i>Omelete de espinafres com 2 ovos, 20 g de cebola, 125 g de
                espinafre, 50 g de tomate, sal e pimenta + salada com 100 g de
                lentilha, 50 g de brócolis e 50 g de couve flor + 1 pera média
                (130 g)</i>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
